<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthenticateUser</servlet-name>
        <servlet-class>com.app.login.AuthenticateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.app.forgotpassword.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyItem</servlet-name>
        <servlet-class>com.app.main.BuyItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayNow</servlet-name>
        <servlet-class>com.app.main.PayNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareItems</servlet-name>
        <servlet-class>com.app.main.CompareItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.app.login.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticateUser</servlet-name>
        <url-pattern>/AuthenticateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyItem</servlet-name>
        <url-pattern>/BuyItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayNow</servlet-name>
        <url-pattern>/PayNow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareItems</servlet-name>
        <url-pattern>/CompareItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
